* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #000;
}

.header, footer  {
    background-color: #1f2937;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.logo, .nav {
    margin: 20px 60px;
}

.sec-text {
    margin-left: 60px;
}

.navbar {
    margin-bottom: 90px
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
}

.sec-text {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.4em;
}

.left-main {
    width: 510px
}

.hero .container {
    display: flex;
}

.hero .left-main {
    display: block;
    margin-right: 150px;
}

.hero img {
    max-width: 400px;
    height: 360px;
    position: relative;
    bottom: 40px;
    
}

.hero .container img {
    margin-bottom: 20px
}


.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin-left: 60px;
    line-height: 60px
}

.top .container {
    background-color: #fff;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.image-container {
    margin-bottom: 60px;
}

.top h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    background-color: #fff;
    padding: 40px;
}

.container .images {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.images p {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
}

.top img {
    max-width: 200px;
    height: 150px;
    border: 3px solid #3882f6;
    
}

.top .container p {
    padding-right: 30px;
    font-weight: 200;
   
}



.mid .container  {
    background-color: #e5e7eb;
    height: 600px; 
    align-items: center;

}

.mid p {
    margin: 0px 160px;
    font-size: 34px;
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 80px 0px 0px 10px;
    position: relative;
    top: 8px;
    line-height: 1.5em
  
}

.attrib {
    font-weight: bold;
    text-align: right;
    position: relative; 
    bottom: 70px;
    right: 10px;
    
}

.mid .attrib p {
    margin-bottom: 20px;
    line-height: 0px;
    height: 0px
}

button {
    color: #fff;
    background-color: #3882f6;
    margin-left: 60px;
}

.bottom .container {
    color: #fff;
    background-color: #3882f6;
   
}

.bottom p {
    margin: 0px 60px;
}

.copyright, .nav {
    color: #fff;
    font-size: 10px;

}

.copyright p {
    height: 60px;
    margin-left: 60px
}

