* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #fff;
}

.header, footer  {
    background-color: #1f2937;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300px;
}

.logo, .nav {
    margin: 20px 60px;
}

.sec-text {
    margin-left: 60px;
}

.navbar {
    margin-bottom: 90px
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    margin-left: 20px;
    margin-right: 20px

}

.navbar .logo {
    font-size: 26px;
    color: #f9faf8;
    font-weight: 600;
}

.sec-text {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.4em;
}

.left-main {
    width: 510px
}

.hero .container {
    display: flex;
}

.hero .left-main {
    display: block;
    margin-right: 150px;
}

.hero img {
    max-width: 400px;
    height: 360px;
    position: relative;
    bottom: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);  
}

.hero .container img {
    margin-bottom: 20px
}


.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin-left: 60px;
    line-height: 60px
}

.top .container {
    background-color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.image-container {
    margin-bottom: 60px;
}

.top h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    background-color: #fff;
    padding: 40px;
}

.container .images {
    display: flex;
    justify-content: center;
    padding: 0px 100px 100px;
}

.images img {
    margin: 10px;
}

.top img {
    max-width: 200px;
    height: 155px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); 
}

.img-container p {
    max-width: 190px;
    text-align: center;
    position: relative;
    left: .8em;
    bottom: .25em;
    padding-left: 5px;
    font-weight: 300;
}

.mid .container  {
    background-color: #e5e7eb;
    height: 600px; 
    align-items: center;

}

.mid p {
    margin: 0px 160px;
    font-size: 34px;
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 80px 0px 0px 10px;
    position: relative;
    top: 8px;
    line-height: 1.5em
  
}

.attrib {
    font-weight: bold;
    text-align: right;
    position: relative; 
    bottom: 70px;
    right: 10px;
    
}

.mid .attrib p {
    margin-bottom: 20px;
    line-height: 0px;
    height: 0px
}

button {
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #3882f6;
    margin-left: 60px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    border: 2px solid #fff
    
}

.bottom .container {
    background-color: #fff;
    height: 375px;
    display: flex;
    flex-direction: column; 
}


 .blue-container {
    width: 1030px;
    color: #fff;
    background-color: #3882f6;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
}

.blue-container p {
    font-size: 18px;
    font-weight: 200;
}

.blue-container h2 {
    font-weight: 500;
}

.blue-container .left {
    padding-left: 0px 50px;
}


.nav {
    color: #fff;
    font-size: 10px;

}

.register {
    margin-bottom: 20px;
}


.copyright p {
    height: 100px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 40px;
    font-weight: 300;
}

.copyright span {
    padding: 8px;
}

